%titre {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  padding: 10px 0px;
  text-transform: capitalize;
  /*&:after {
    display: block;
    content: "";
    width: 70px;
    height: 4px;
    background-color: $yellow;
    margin: 15px 0;
}*/
}
%ul_without_bullet {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

%unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
