#ajax_result {
  margin-top: 10px;
  ul {
    border: solid 5px $lite_blue;
    @extend %ul_without_bullet;
    margin: 0;
    li {
      padding: 10px 6px;
      background-color: $light-dark;
      color: $white;
      overflow-x: hidden;
      transition: background-color, color 0.3s linear;
      @extend %unselectable;
      &:hover {
        background-color: $lite_blue;
      }
    }
  }
}

#valid_result {
  display: none;
  border: solid 3px seagreen;
  margin-bottom: 20px;
  background-color: $gray-600;
  div {
    text-align: center;
    border-bottom: solid 2px $light-dark;
    &:last-child {
      border-bottom: 0;
    }
  }
}
#first_aired_years,
#runtime {
  margin: 5px 0;
}
#years_pickers,
#time_pickers {
  overflow-y: scroll;
  border: solid 5px $lite_blue;
  height: 200px;
  margin: 20px 0px 20px;
  @extend %ul_without_bullet;
  margin: 0;
  padding: 0;
  label {
    display: block;
    padding: 10px 6px;
    text-align: center;
    border-bottom: solid 2px $light-dark;
    @extend %unselectable;
    margin: 0;
    &:hover {
      background-color: $lite_blue;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  input:checked + label {
    background-color: #bada55;
  }
}

.dropdown-check-list {
  display: inline-block;
  background-color: $light-dark;
  border-radius: 5px;
  width: 100%;
  .anchor {
    position: relative;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    /* - fait un < tourner vers le bas - */
    &:after {
      position: absolute;
      content: "";
      border-left: 2px solid black;
      border-top: 2px solid black;
      padding: 5px;
      right: 10px;
      top: 20%;
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
    &:active:after {
      right: 8px;
      top: 21%;
    }
  }
  ul.items {
    padding: 5px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    li {
      list-style: none;
    }
  }
  &.visible {
    .items {
      display: block;
    }
    margin-bottom: 20px;
  }
}
