.slider {
  position: relative;
  margin: 0 10px;
  overflow: hidden;
}

.slider_large {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.slider-item {
  float: left;
  padding: 20px;
}

.slider_next,
.slider_prev {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff url("https://flixadvisor.fr/images/chevron-right-solid.svg")
    center center no-repeat;
  background-size: 20px 20px;
  border-radius: 50px;
  top: 50%;
  margin-top: -20px;
  right: 0;
  cursor: pointer;
}
.slider_prev {
  left: 0;
  background: #fff url("https://flixadvisor.fr/images/chevron-left-solid.svg")
    center center no-repeat;
}
