.switch {
  display: block;
  margin: 20px auto;
  width: 90px;
  @extend %unselectable;
  input {
    display: none;
  }
  label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $gray-800;
    border-radius: 5px;
  }
  .switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }

  /* -100% --(orange)-- 0% --(gris)-- 100*/
  input:checked + label .switch-inner {
    margin-left: 0;
  }
  .switch-inner:before,
  .switch-inner:after {
    display: inline-block;
    width: 50%; //50% de 200% = 100%
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: $white;
    font-family: "Caveat", sans-serif;
    font-weight: 700;
    box-sizing: border-box;
  }
  .switch-inner:before {
    content: "Day";
    background-color: $orange;
    color: $white;
    padding-left: 10px;
  }
  .switch-inner:after {
    content: "Night";
    text-align: right;
    background-color: $dark;
    color: $white;
    padding-right: 10px;
  }
}
