@import "./myVariables";
@import "./scss_bootstrap/bootstrap.scss";
@import "./gost";
@import url("https://fonts.googleapis.com/css?family=Caveat:700|Lato:300,400,700|Montserrat:300,400,600");
@import "./switch";
@import "./modal";
@import "./aside";
@import "./footer";
@import "./slider";
@import "./recherche";

body {
  font-family: "lato";
  font-weight: 400;
  min-height: 100vh;
}

a:hover {
  text-decoration: none;
}

h1 {
  @extend %titre;
  font-family: "caveat";
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 26px;
    line-height: 26px;
  }
}
h2,
.h2 {
  @extend %titre;
  @include media-breakpoint-down(sm) {
    font-size: 22px;
    line-height: 26px;
    margin: 10px 0;
  }
}
.h3 {
  @extend %titre;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  text-transform: capitalize;
  &:after {
    height: 2px;
    background-color: $red;
    width: 40px;
  }
}

h3.card-title {
  text-transform: uppercase;
  color: $secondary;
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
}

h5,
.h5 {
  color: $white;
}

hr {
  border-top: 1px solid $primary;
  margin-bottom: 20px;
}
.btn-connexion {
  background-color: $yellow;
  color: $black;
  border: none;
  transition: width 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease-in-out;
  &:hover {
    width: 10rem;
    box-shadow: 0 0 0 0.4rem $yellow;
    border-radius: 0;
    /*##########*/
    color: initial;
  }
}
.menu-button {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  left: calc(100% - 4rem);
  background-position-x: 50%;
  background-color: $yellow;
  padding: 10px;
  height: 2.375rem;
  width: 2.375rem;
  z-index: 10;
  font-size: 18px;
  line-height: 18px;
  color: $black;
  &:hover {
    color: initial;
  }
  border-radius: 5px;
}

.menu {
  background: linear-gradient(#ff881b, #ffcf1b);
}

.white-card {
  @extend .card;
  padding: 0;
  background-color: $white;
}

form span.require {
  color: $red;
}

.logo-reseau-sociaux {
  width: 40px;
}

.spoiler {
  background-color: $black;
  color: $black;
}
